<html>
    <head>
        <meta charset="utf-8">
        <link href="/app.css" rel="stylesheet" type="text/css">
        <script src="/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/axios.js" type="text/javascript" charset="utf-8"></script>
        <script src="/vue-router.js" type="text/javascript" charset="utf-8"></script>
        <script src="/vue-trainman.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="app" v-cloak>
            <ul id="gnb">
                <li>
                    <a v-router-link to="/">Home</a>
                </li>
                <li v-for="(item, key) in menudata" :key="key">
                    <a v-router-link :to="'/' + key">{{key}} ({{item.length}})</a>&nbsp;
                </li>
            </ul>
            <router-view 
                :key="$route.params.main + $route.params.id" 
                :menudata="menudata" 
                @updated="load();">
            </router-view>
        </div>
        
        <template id="home-page">
            <main>
                <h2>HOME</h2>
                <p>Welcome to presudo api server manage tool</p>
                
                <section>
                    <h3>Create table</h3>
                    <input type="text" v-model="form.createTableName">
                    <button @click="createTable">Create</button>
                </section>
                <section>
                    <h3>Drop table</h3>
                    <select v-model="form.dropTableName">
                        <option disabled value="">Please select one</option>
                        <option v-for="item in tables">{{item.name}}</option>
                    </select>
                    <button @click="dropTable">Drop</button>
                </section>
            </main>
        </template>
        
        <template id="table-list-page">
            <main v-cloak>
                <header>
                    <h2>{{$route.params.main | capitalize}} <button v-router-link :to="$route.params.main + '/' + 'create'">add</button></h2>
                    <hr>
                </header>
                
                <table style="width:500px;">
                    <tbody v-if="!data.length">
                        <tr>
                            <td>Empty.</td>
                        </tr>
                    </tbody>
                    <tbody v-if="data.length">
                        <tr v-for="item in data">
                            <th>id</th>
                            <td>{{item.id}}</td>
                            <td style="font-size:12px;">
                                <span v-for="key in Object.keys(item)" v-if="key != 'id'">
                                    <b>{{key}}</b>
                                    <span>{{item[key]}}</span>
                                    &nbsp;&nbsp;
                                </span>
                            </td>
                            <td>
                                <button v-router-link :to="$route.params.main + '/' + item.id" >Show</button>
                                <button @click="remove(item)">Del</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </template>
        
        <template id="table-item-page">
            <main>
                <header>
                    <h2>{{pageTitle}}</h2>
                </header>
                <table v-if="!(String($route.meta.act).match(/modify|create/) && rawMode)">
                    <tbody>
                        <tr v-if="!String($route.meta.act).match(/modify|create/)">
                            <th>id</th>
                            <td>
                                <span>
                                    {{data.id}}
                                </span>
                            </td>
                        </tr>
                        <tr v-for="datakey in allKeys" v-if="datakey != 'id'">
                            <th>
                                {{datakey}}
                            </th>
                            <td>
                                <input v-if="String($route.meta.act).match(/modify|create/)" v-model="data[datakey]">
                                <span v-else>
                                    {{data[datakey]}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-else>
                    <textarea v-model="rawString" style="width:60%;height:400px;"></textarea>
                </div>
                <footer>
                    <button v-if="!rawMode && !$route.meta.act" @click="$stash('data',true);$router.push($route.fullPath + '/modify')">Modify</button>
                    <button v-if="!rawMode && $route.meta.act == 'modify'" @click="modify()">Save</button>
                    <button v-if="!rawMode && $route.meta.act == 'create'" @click="create();">Save</button>
                    <button v-if="$route.meta.act" @click="toggleRawMode">
                        <span v-if="!rawMode">raw</span>
                        <span v-else>confirm</span>
                    </button>
                    <button v-if="!rawMode" @click="$router.back();">Back</button>
                    <button v-if="rawMode" @click="rawMode = false">Back</button>
                </footer>
            </main>
        </template>
        
        <script>
            Vue.use(VueTrainman);
            
            var filter = {
                "capitalize":function(value){
                    if (!value) return '';
                    value = String(value);
                    return value.charAt(0).toUpperCase() + value.slice(1);
                }
            }
           
            Vue.filter("capitalize",filter.capitalize);
           
            var HomePage = Vue.extend({
                template:"#home-page",
                props:["menudata"],
                computed:{
                    tables:function(){
                        return this.menudata ? Object.keys(this.menudata).reduce(function(result,key){
                            result.push({
                                name:key,
                                length:this.menudata[key].length
                            });
                            return result;
                        }.bind(this),[]) : [];
                    }
                },
                methods:{
                    createTable:function(){
                        if(!this.form.createTableName){
                            return alert("Please enter a table name.");
                        }
                        var vm = this;
                        axios.post("/presudo-api-server/"+this.form.createTableName+"/create").then(function(){
                            vm.$emit("updated");
                        });
                    },
                    dropTable:function(){
                        if(typeof this.form.dropTableName !== "string"){
                            return alert("Please select the drop table");
                        }
                        if(confirm("Is it okay to really delete the " + this.form.dropTableName + " table?")){
                            if(this.menudata[this.form.dropTableName].length && !confirm("The three data will be deleted together. Do you want to continue?")){
                                return;
                            }
                            
                            var vm = this;
                            axios.post("/presudo-api-server/"+this.form.dropTableName+"/drop").then(function(){
                                vm.$emit("updated");
                            });
                        }
                    },
                    resetForm:function(){
                        this.form = {};
                        return true;
                    }
                },
                data:function(){
                    return {
                        form:{}
                    }
                }
            });
           
            var TableListPage = Vue.extend({
                template: '#table-list-page',
                props:["menudata"],
                computed:{
                    data:function(){
                        return this.menudata[this.$route.params.main] || [];
                    }
                },
                methods:{
                    remove:function(item){
                        var vm = this;
                        
                        if(confirm("Are you sure?")){
                            axios.delete("/"+this.$route.params.main+"/"+item.id).then(function(){
                                vm.$emit("updated");
                            });
                        }
                    }
                },
                data:function(){
                    return {};
                }
            });
            
            var TableItemPage = Vue.extend({
                template:"#table-item-page",
                props:["menudata"],
                computed:{
                    pageTitle:function(){
                        return filter.capitalize(this.$route.meta.act) + " " + (this.$route.meta.act ? this.$route.params.main : filter.capitalize(this.$route.params.main)) + " table item " + (this.data.id ? this.data.id : '');
                    },
                    allKeys:function(){
                        var allKeys = Object.keys(Object.assign.apply(Object,[{}].concat(this.menudata[this.$route.params.main]).concat(this.data)));
                        return allKeys;                        
                    }
                },
                methods:{
                    load:function(vm){
                        vm = vm || this;
                        
                        if(this.$route.meta.act === "create"){
                            
                        } else {
                            axios.get("/"+this.$route.params.main+"/"+this.$route.params.id).then(function(response){
                                vm.data = response.data || {};
                            });
                        }
                        
                        return vm;
                    },
                    create:function(){
                        var vm = this;
                        
                        axios.post("/"+this.$route.params.main,Object.assign({},this.data,{id:undefined})).then(function(response){
                            vm.$router.replace("/"+vm.$route.params.main);
                            vm.$emit("updated");
                        });
                    },
                    modify:function(){
                        var vm = this;
                        
                        axios.patch("/"+this.$route.params.main+"/"+this.$route.params.id,Object.assign({},this.data,{id:undefined})).then(function(response){
                            vm.$freez("data");
                            vm.$router.replace("/"+vm.$route.params.main);
                            vm.$emit("updated");
                        });
                    },
                    toggleRawMode:function(){
                        this.rawMode = this.$train.toggle([true,false],this.rawMode);
                        if(this.rawMode){
                            this.rawString = JSON.stringify(this.data,2,2);
                        } else {
                            try {
                                var parseObject = JSON.parse(this.rawString)
                                if(!(typeof parseObject === "object") && (parseObject instanceof Array)){
                                    throw new Error("Raw must be a JSON object.");
                                }
                                
                                if((this.$route.meta.act != "create") && (!parseObject.id && (typeof parseObject.id !== "number") || !(parseObject.id > 0))){
                                    throw new Error("The format of id is not valid. The id must exist, must be of type Number, and must be greater than 0.");
                                }
                                
                                Vue.set(this,"data",parseObject);
                                this.rawMode = false;
                            } catch(e) {
                                if(confirm("The format of raw is not correct. " + e.message + " Continue editing?")){
                                    this.rawMode = true;
                                } else {
                                    this.rawMode = false;
                                }
                            }
                        }
                    }
                },
                data:function(){
                    return this.load({
                        data:{},
                        rawMode:false,
                        rawString:""
                    });
                },
                beforeRouteUpdate(to,from,next){
                    if(this.rawMode === true){
                        if(confirm("Are you sure you want to stop editing raw?")){
                            this.rawMode = false;
                        } else {
                            this.rawMode = true;
                        }
                        next(false);
                    } else {
                        next();
                    }
                }
            });
            
            var router = new VueRouter({
                routes:[
                    {
                        path: '/', 
                        component: HomePage
                    },
                    {
                        path: '/:main',
                        component:TableListPage,
                    },
                    {
                        path: '/:main/create',
                        component:TableItemPage,
                        meta:{
                            act:"create"
                        }
                    },
                    {
                        path: '/:main/:id',
                        component:TableItemPage,
                        children:[
                            {
                                path:"modify",
                                component:TableItemPage,
                                meta:{
                                    act:"modify"
                                }
                            }
                        ]
                    }
                ]
            });
            
            var app = new Vue({
                el:"#app",
                router:router,
                methods:{
                    load:function(vm){
                        vm = vm || this;
                        
                        axios.get("/presudo-api-server/all").then(function(response){
                            vm.menudata = response.data;
                        });
                        
                        return vm;
                    }
                },
                data:function(){
                    return this.load({
                        menudata:{}
                    });
                }
            });
        </script>
    </body>
</html>