<html>
    <head>
        <meta charset="utf-8">
        <link href="/app.css" rel="stylesheet" type="text/css">
        <script src="/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/axios.js" type="text/javascript" charset="utf-8"></script>
        <script src="/vue-router.js" type="text/javascript" charset="utf-8"></script>
        <script src="/vue-trainman.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="app" v-cloak>
            <ul id="gnb">
                <li>
                    <a v-router-link to="/">Home</a>
                </li>
                <li v-for="(item, key) in menudata" :key="key">
                    <a v-router-link :to="'/' + key">{{key}} ({{item.length}})</a>&nbsp;
                </li>
            </ul>
            <router-view 
                :key="$route.params.main + $route.params.id" 
                :maindata="menudata" 
                @updated="load();">
            </router-view>
        </div>
        
        <template id="home-page">
            <main>
                <h2>HOME</h2>
                <p>Welcome to presudo api server manage tool</p>
                
                <button @click="formOpend = $train.toggle([true,false],formOpend) && resetForm()">
                    <span v-if="!formOpend"> Insert category data </span>
                    <span v-else> Close </span>
                </button>
                
                <div v-if="formOpend">
                    <hr>
                    <h2>Create category item</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th>Category</th>
                                <td>
                                    <input type="text" v-model="form.category">
                                </td>
                            </tr>
                            <tr>
                                <th>name</th>
                                <td>
                                    <input type="text" v-model="form.name">
                                </td>
                            </tr>
                            <tr>
                                <th>value</th>
                                <td>
                                    <input type="text" v-model="form.value">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <footer>
                        <button @click="create">Save</button>
                    </footer>
                </div>
            </main>
        </template>
        
        <template id="table-list-page">
            <main v-cloak>
                <header>
                    <h2>{{$route.params.main | capitalize}} <button v-router-link :to="$route.params.main + '/' + 'create'">add</button></h2>
                    <hr>
                </header>
                
                <table style="width:500px;">
                    <tbody v-if="!data.length">
                        <tr>
                            <td>Empty.</td>
                        </tr>
                    </tbody>
                    <tbody v-if="data.length">
                        <tr v-for="item in data">
                            <th>id</th>
                            <td>{{item.id}}</td>
                            <th>name</th>
                            <td>{{item.name}}</td>
                            <th>value</th>
                            <td>{{item.value}}</td>
                            <td>
                                <button v-router-link :to="$route.params.main + '/' + item.id" >Show</button>
                                <button @click="remove(item)">Del</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </template>
        
        <template id="table-item-page">
            <main>
                <header>
                    <h2>{{pageTitle}}</h2>
                </header>
                <table>
                    <tbody>
                        <tr v-if="!String($route.meta.act).match(/modify|create/)">
                            <th>id</th>
                            <td>
                                <span>
                                    {{data.id}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>name</th>
                            <td>
                                <input v-if="String($route.meta.act).match(/modify|create/)" v-model="data.name">
                                <span v-else>
                                    {{data.name}}
                                </span>
                                
                            </td>
                        </tr>
                        <tr>
                            <th>value</th>
                            <td>
                                <input v-if="String($route.meta.act).match(/modify|create/)" v-model="data.value">
                                <span v-else>
                                    {{data.value}}
                                </span>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                <footer>
                    <button v-if="!$route.meta.act" @click="$stash('data',true);$router.push($route.fullPath + '/modify')">Modify</button>
                    <button v-if="$route.meta.act == 'modify'" @click="modify()">Save</button>
                    <button v-if="$route.meta.act == 'create'" @click="create();">Save</button>
                    <button @click="$router.back();">Back</button>
                </footer>
            </main>
        </template>
        
        <script>
            Vue.use(VueTrainman);
            
            var filter = {
                "capitalize":function(value){
                    if (!value) return '';
                    value = String(value);
                    return value.charAt(0).toUpperCase() + value.slice(1);
                }
            }
           
            Vue.filter("capitalize",filter.capitalize);
           
            var HomePage = Vue.extend({
                template:"#home-page",
                methods:{
                    create:function(){
                        
                    },
                    resetForm:function(){
                        this.form = {};
                        return true;
                    }
                },
                data:function(){
                    return {
                        formOpend:false,
                        form:{}
                    }
                }
            });
           
            var TableListPage = Vue.extend({
                template: '#table-list-page',
                props:["maindata"],
                computed:{
                    data:function(){
                        return this.maindata[this.$route.params.main] || [];
                    }
                },
                methods:{
                    remove:function(item){
                        var vm = this;
                        
                        if(confirm("Are you sure?")){
                            axios.delete("/"+this.$route.params.main+"/"+item.id).then(function(){
                                vm.$emit("updated");
                            });
                        }
                    }
                },
                data:function(){
                    return {};
                }
            });
            
            var TableItemPage = Vue.extend({
                template:"#table-item-page",
                computed:{
                    pageTitle:function(){
                        return filter.capitalize(this.$route.meta.act) + " " + (this.$route.meta.act ? this.$route.params.main : filter.capitalize(this.$route.params.main)) + " table item " + (this.data.id ? this.data.id : '');
                    }  
                },
                methods:{
                    load:function(vm){
                        vm = vm || this;
                        
                        if(this.$route.meta.act === "create"){
                            
                        } else {
                            axios.get("/"+this.$route.params.main+"/"+this.$route.params.id).then(function(response){
                                vm.data = response.data || {};
                            });
                        }
                        
                        return vm;
                    },
                    create:function(){
                        var vm = this;
                        
                        axios.post("/"+this.$route.params.main,{name:this.data.name,value:this.data.value}).then(function(response){
                            vm.$router.replace("/"+vm.$route.params.main);
                            vm.$emit("updated");
                        });
                    },
                    modify:function(){
                        var vm = this;
                        
                        axios.patch("/"+this.$route.params.main+"/"+this.$route.params.id,{name:this.data.name,value:this.data.value}).then(function(response){
                            vm.$freez("data");
                            vm.$router.replace("/"+vm.$route.params.main);
                            vm.$emit("updated");
                        });
                    }
                },
                data:function(){
                    return this.load({
                        data:{}
                    });
                }
            });
            
            var router = new VueRouter({
                routes:[
                    {
                        path: '/', 
                        component: HomePage
                    },
                    {
                        path: '/:main',
                        component:TableListPage,
                    },
                    {
                        path: '/:main/create',
                        component:TableItemPage,
                        meta:{
                            act:"create"
                        }
                    },
                    {
                        path: '/:main/:id',
                        component:TableItemPage,
                        children:[
                            {
                                path:"modify",
                                component:TableItemPage,
                                meta:{
                                    act:"modify"
                                }
                            }
                        ]
                    }
                ]
            });
            
            var app = new Vue({
                el:"#app",
                router:router,
                methods:{
                    load:function(vm){
                        vm = vm || this;
                        
                        axios.get("/presudo-api-server").then(function(response){
                            vm.menudata = response.data;
                        });
                        
                        return vm;
                    }
                },
                data:function(){
                    return this.load({
                        menudata:{}
                    });
                }
            });
        </script>
    </body>
</html>